body{
    text-align: center;
}
main{
    padding: 0 150px;
}

.navContainer{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: #00B0F0;

}

.nav-link {
    color: white;
}

.meContainer{

    height: 450px;
    display: flex;
    padding: 10px 100px;
    align-items: center;  
    justify-content: center;

}

.mePhoto{
    width: 30%;
    border-radius: 50%;

}

.meName{
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 60%;
}

h3{
    color: #00B0F0 ;
}

img{
    width: 200px;

}

.description{
    padding-top: 15px;
}

.exContainer{
    text-align: center;
    padding: 0 50px 70px 50px;


}

li{
    list-style-type: none;
}

h5{
    color: #00B0F0;
    text-align: start;
    margin: 40px 0 30px 0;
    border-bottom: 1px solid #00B0F0;
}


.experiences{
    margin-bottom: 20px;
}

th{
    width: 300px;
    border-right: 1px solid black;
}

nav-link:hover{
    font-size: 15px;
}

.contactContainer{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: #00B0F0;
    color: white;
}

.contact{
    padding-right: 30px;
}

a{
    text-decoration: none;
    color: white;
}

.bi .bi-linkedin{
    width: 20px;
}